.content{
    height: 100vh;
    width: 100%;
    background-image:<img src="bankimage.jpg">
    backgroung-size:100% 100%;
    background-repeat: no-repeat;
}
.sign{
    color: black;
    font-weight: bold;
}
footer{
    width: 100%;
	left: 0px;
	bottom: 0px;
	position: absolute;
}
